// colors
$color-primary:#daa309;
$color-primary-light:#f7c539;
$color-primary-dark:#a97e07;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee; // in card text
$color-grey-light-3: #999999; // in form text
$color-grey-dark-1:#333333;

$color-grey:#777777;
$color-white:#ffffff;
$color-black:#000000;

// card colors
// avon
$color-primary-avon:#d81a83;
$color-secondary-avon:#58308f;
$color-tertiary-avon:#892d8d;
$color-quaternary-avon:#ea284a;

// ziaja
$color-primary-ziaja: #9fdd34;
$color-secondary-ziaja: #72b823;
$color-tertiary-ziaja: #549b42;
$color-quaternary-ziaja: #37642b;

//duolife
$color-primary-duolife: #dba85e;
$color-secondary-duolife: #a98f5e;
$color-tertiary-duolife: #776543;
//nacomi

// form
$color-red-form: #c50d2e;
$color-green-form: #55c57a;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// font
$default-font-size: 1.6rem;