.card{
    perspective: 150rem;
    position: relative;
    height: 53rem;

    &__side{
        font-size: 2rem;
        height: 53rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front{
            background-color:$color-white;    
        }

        &--back{
            transform: rotateY(180deg);

            &-1{
                background-image: linear-gradient(to right top, $color-secondary-avon, $color-tertiary-avon, $color-primary-avon, $color-quaternary-avon);
            }

            &-2{
                background-image: linear-gradient(to right top, $color-quaternary-ziaja, $color-tertiary-ziaja, $color-secondary-ziaja, $color-primary-ziaja);
            }

            &-3{
                background-image: linear-gradient(to right top, $color-tertiary-duolife, $color-secondary-duolife, $color-primary-duolife);
            }
        }
    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{
        transform: rotateY(0deg);
    }

    // front side styling
    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: color;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1{
            background-image: linear-gradient(to right top, $color-secondary-avon, $color-tertiary-avon, $color-primary-avon, $color-quaternary-avon), url(../../src/assets/img/avon-bg.jpg);
        }

        &--2{
            background-image: linear-gradient(to right top, $color-tertiary-ziaja, $color-secondary-ziaja, $color-primary-ziaja), url(../../src/assets/img/ziaja-bg.jpeg);
        }

        &--3{
            background-image: linear-gradient(to right top, $color-tertiary-duolife, $color-secondary-duolife, $color-primary-duolife), url(../../src/assets/img/duolife-bg.png);
        }
    }

    &__heading{
        font-size: 2.8rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 17rem;
        right: 2rem;
        width: 75%;

    }

    &__heading-span{
        padding: 0.8rem 1.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(to right top, rgba($color-tertiary-avon, .85), rgba($color-primary-avon, .85));
        }

        &--2{
            background-image: linear-gradient(to right top, rgba($color-tertiary-ziaja, .85), rgba($color-primary-ziaja, .85));
        }

        &--3{
            background-image: linear-gradient(to right top, rgba($color-tertiary-duolife, .85), rgba($color-secondary-duolife, .85));
        }
    }

    &__details{
        padding: 3rem;

        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: 1px solid #eeeeee;
                }
            }
        }
    }

    
    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
    }

    &__back-image{
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width:  100%;
        margin: 0 auto;

        &--1{
            background-image: url(../../src/assets/img/avon-logo-white.png);
            height: 5rem;
            margin-bottom: 10rem;
        }

        &--2{
            background-image: url(../../src/assets/img/ziaja-logo-white.png);
            height: 8rem;
            margin-top: -2rem;
            margin-bottom: 9rem;
            margin-right: -1rem;
        }

        &--3{
            background-image: url(../../src/assets/img/duolife-logo-white.png);
            height: 12rem;
            margin-bottom: 7rem;
            margin-top: -4rem;
        }
    }

    @include respond(tab-port){
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side{
            font-size: 2rem;
            height: auto;
            position: relative;
            box-shadow: none;

            &--back{
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front{
            transform: rotateY(0);
        }
        
        &__details{
            padding: 1rem 3rem;
        }

        //font card side
        &__cta{
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__back-image{
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width:  100%;
            margin: 0 auto;

            &--1{
                height: 4rem;
                margin-bottom: 4rem;
                margin-top: 0;
            }

            &--2{
                height: 7rem;
                margin-top: 0;
                margin-bottom: 4rem;
                margin-right: -1rem;
            }

            &--3{
                height: 10rem;
                margin-bottom: 4rem;
                margin-top: 0;
            }
        }
    }
}